<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<nodes>

		<header>MAIN NAVIGATION</header>
		<node>
			<name>返回新闻页</name>
			<url>/NewsCMS/news/index</url>
			<icon>fa-internet-explorer</icon>
		</node>
		<node>
			<name>新闻管理</name>
			<url>#</url>
			<icon>fa-newspaper-o</icon>
			<children>
				<node>
					<name>新闻列表</name>
					<url>newslist</url>
				</node>
				<node>
					<name>新建新闻</name>
					<url>newsadd</url>
				</node>
			</children>
		</node>

		<node>
			<name>用户管理</name>
			<url>#</url>
			<icon>fa-group</icon>
			<children>
				<node>
					<name>用户列表</name>
					<url>userlist</url>
				</node>
				<node>
					<name>添加用户</name>
					<url>useradd</url>
				</node>
				<node>
					<name>修改用户</name>
					<url>userchange</url>
				</node>
			</children>
		</node>
	</nodes>
</menu>