<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<nodes>

		<header>MAIN NAVIGATION</header>
		<node>
			<name>论坛</name>
			<url>t1_name1</url>
			<icon>fa-dashboard</icon>
			<children>
				<node>
					<name>学习</name>
					<url>name2/t2_name1</url>
				</node>
				<node>
					<name>生活</name>
					<url>name2/t2_name1</url>
				</node>
				<node>
					<name>运动</name>
					<url>name2/t2_name1</url>
				</node>
				<node>
					<name>搞事</name>
					<url>name2/t2_name1</url>
				</node>
			</children>
		</node>

		<node>
			<name>微博</name>
			<url>#</url>
			<icon>fa-dashboard</icon>
			<children>
				<node>
					<name>我的圈子</name>
					<url>name2/t2_name1</url>
				</node>
				<node>
					<name>特别关注</name>
					<url>name2/t2_name1</url>
				</node>
				<node>
					<name>关于我的@</name>
					<url>name2/t2_name1</url>
				</node>
			</children>
		</node>
		<node>
			<name>聊天室</name>
			<url>#</url>
			<icon>fa-dashboard</icon>
			<children>
				<node>
					<name>t2_name1</name>
					<url>name2/t2_name1</url>
				</node>
			</children>
		</node>
		<node>
			<name>个人空间</name>
			<url>#</url>
			<icon>fa-dashboard</icon>
			<children>
				<node>
					<name>最新动态</name>
					<url>name2/t2_name1</url>
				</node>
				<node>
					<name>个人设置</name>
					<url>name2/t2_name1</url>
				</node>
				<node>
					<name>好友管理</name>
					<url>name2/t2_name1</url>
				</node>
			</children>
		</node>
	</nodes>
</menu>